body{
    background-color: whitesmoke; 
    margin: 100px;
    width: 1000px;
}
header{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
img{
    width: 200px;
}

header h1{
    text-align: end;
    text-transform: uppercase;
}
header div{
    padding-top: 100px;
    padding-left: 500px;
   
    text-align: end;
}

.classFont{
    font-size: 35px;
}

footer{
    text-align: end;
}